{% extends 'menuTest.html'%} <!--導入menu模板 -->
{% block title %} 瀏覽訊息 {% endblock%}
{% block style %}


#container{
	margin: 0 auto;
    padding: 0 25px;
    max-width: 1220px;

}

.main{
	padding: 1.5em 0;



}
.msg{
	font-size: 1.75em;
    padding: 0;
    margin: 2em 0 0;
}
.title{
    padding-bottom: 6px;
    line-height: 32px;
}

input{
	width:300px;
	height:35px;
}

.word{
	float: left;
}

.field-box{
	max-width: 530px;
	margin-left: 6em;
}

.field{
	    display: block;
    width: 100%;
    height: 38px;
    padding: 0 0.5em;
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 0.3em;
}

textarea.field {
    height: auto;
    padding: 0.25em 0.5em;
}
.send{
	padding: 4em 0;
	letter-spacing: 1.5em;
	text-align:center;
	width:500px;
}

{% endblock %}


<span class="glyphicon glyphicon-search" aria-hidden="true"></span>






{% block content %}
  <div id='container'>
  <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>留言板</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    {% for p in posts %}
        <div class="col-sm-12 col-md-6">
            <div class='panel {% cycle "panel-primary" "panel-info" "panel-warning" "panel-success" %}'>
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td>
                                【{{ p.nickname }}】覺得 {{ p.mood }}
                            </td>
                            <td align="right">
                                <i><small>{{ p.pub_time }}</small></i>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">{{ p.message | linebreaks }}</div>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}











